#!/usr/bin/make -f

# Copyright 2023-2026 Stephen Warren <swarren@wwwdotorg.org>
# SPDX-License-Identifier: MIT

%:
	dh $@

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/qdm12-ddns-updater
	dh_installsystemd
